extends ./layout/index

block contenido  

    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen-sobre-nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lectus felis, molestie vel facilisis eu, mollis nec quam. Suspendisse sed imperdiet urna. Duis consectetur viverra ligula, sit amet luctus lectus fringilla eget. Mauris ut sodales ante. Curabitur sed ante eu quam blandit mattis. Aliquam facilisis, eros at fringilla fermentum, lectus felis posuere est, ut viverra velit ante eu nisi. Nulla facilisi. Integer bibendum elit turpis, faucibus malesuada nisi finibus id. Praesent convallis felis id justo vehicula, id malesuada purus faucibus. Nam faucibus sapien at eros lacinia ultricies. Aenean laoreet, neque vel viverra iaculis, velit justo varius massa, sit amet aliquam tortor elit ac arcu. Integer maximus ante a dictum rutrum. Duis hendrerit est et est malesuada mattis.

                p Maecenas lobortis neque vitae sapien ultricies porta. Nam sed libero sodales, rutrum lacus non, tincidunt erat. Sed fringilla, sem nec interdum dictum, sapien enim pharetra quam, ac tincidunt elit ligula ut lectus. Phasellus at commodo enim. Quisque volutpat volutpat congue. Phasellus sit amet felis ut turpis viverra commodo. Etiam at viverra tellus. Sed id justo magna. Etiam et nunc ante. Duis congue, diam vitae sagittis pulvinar, mauris odio cursus ex, id ultrices tellus mi at est.

                p Nam nec mi scelerisque, rutrum diam ac, suscipit augue. Suspendisse imperdiet urna nulla, et laoreet arcu ullamcorper id. In hac habitasse platea dictumst. Nulla facilisi. Ut in sem et nisi cursus lobortis nec eget lorem. Morbi libero libero, porttitor sit amet diam nec, elementum luctus enim. Aliquam gravida porttitor dolor, id pretium arcu egestas at. Nulla scelerisque massa quam, quis tempor purus pharetra ac. Vivamus commodo bibendum pellentesque. Maecenas mollis dui at quam pulvinar, quis dapibus mi volutpat. Sed nec magna turpis. Proin suscipit consectetur elit sit amet volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In eros ligula, lacinia id suscipit sed, pharetra eu sapien.

    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p tiam at viverra tellus. Sed id justo magna. Etiam et nunc ante. Duis congue, diam vitae sagittis pulvinar, mauris odio cursus ex, id ultrices tellus mi at est.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p tiam at viverra tellus. Sed id justo magna. Etiam et nunc ante. Duis congue, diam vitae sagittis pulvinar, mauris odio cursus ex, id ultrices tellus mi at est.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p tiam at viverra tellus. Sed id justo magna. Etiam et nunc ante. Duis congue, diam vitae sagittis pulvinar, mauris odio cursus ex, id ultrices tellus mi at est.
                                       
                    